// paleta de colores 

$color-uno: #E1DFDF;
$color-dos: #202020;
$color-tres: #00EAD0;

// Tamaño de letras
$tamanio-regular: 1rem;
$tamanio-normal: 1.2rem;
$tamanio-grande: 1.5rem;

$tamanio-reg-titulo: 1.8rem;
$tamanio-nor-titulo: 2.5rem;

$tamanio-footer:0.7rem;


